.container {
	border-radius: 0.5rem;
	border: 1px solid black;
	padding: 0.5rem;
	margin: 1rem .5rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	transition: box-shadow .3s ease;
}
.container:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	
}

.task {
	color: white;
	text-decoration: none;
}

